.filter{
  width: 100%;
  max-width: 1280px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  height: 100px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom:-50px;
  transform: translateX(-50%);
}
.filter__item{
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid rgba(#333333,.2);
  padding:30px 40px;
}
.filter__item:first-child{
  padding-left:50px;
}
#filter__item__end{
  border: none;
}
.filter__calendar{
  margin-right: 10px;
}
.filter__item__text{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.filter__arrow{
  margin-left: 10px;
}
.filter__item__inner{
  position: absolute;
  visibility: hidden;
  transform: translate(-9%,0);
  top: 100%;
  box-shadow: 4px 6px 13px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  transition: all .3s ease-in-out;
  opacity: 0;
}
#filter__item__inner-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
}
.filter__item__inner-active{
  visibility: visible;
  transform: translate(-9%,10px);
  opacity: 1;
}
.filter__item__inner-box{
  padding: 20px 30px;
}

.filter__category+.filter__category{
  margin-top: 20px;
}
.filter__category__title{
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.filter__subcategory{
  display: flex;
  align-items: center;
  margin-top:16px;
}
.filter__subcategry__title{
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}
.filter__checkbox{
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
}
.filter__item__status{
  margin-right: 10px;
}
.filter__radio{
  margin-left: 25px;
}
#filter__changed__subcategory{
  width: 100%;
  width: 200px;
}
.filter__send__btn{
  margin-left: auto;
  padding: 38px 52px;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  outline: none;
  background-color: #006AFF;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  cursor: pointer;
}
